extends layout
block content
  h1= title
  div
    each meme in memes
      .commentAndImage
        img(src= meme.url)
        p Enter your comment:
        form.commentArea
          textarea(name="commentBox" value="#{memes.id}")
          input.btn(type='submit' value='Submit')
          .printedComment
